.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: azure;
  border: blue solid 1pt;
  border-radius: 10px;
}
.App h1 {
  font-size: 38pt;
}
.App footer {
  font-size: 14pt;
  padding: 20px;
}
