.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: azure;
  border-radius: 10px;
}
.App h1 {
  font-size: 38pt;
}
.App footer {
  font-size: 18pt;
}
.Weather h2 {
  font-size: 30pt;
}
.Weather h3 {
  font-size: 20pt;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
